<div fxLayout="column" class="page_wrapper">
  <hr style="border-color:blue;">

  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex style="background-color:#F8F8F8;padding:15px;">
      <h3>Intresseanmälan</h3>
      <p>
        Vi söker alltid kompetenta kandidater till
        chefsbefattningar och nyckelpositioner.
      </p>
      <button md-raised-button color="primary">
        Välkommen att registrera ditt CV
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>

    <div fxFlex style="background-color:#F8F8F8;padding:15px;">
      <h3>Aktuella uppdrag</h3>
      <p>
        Här hittar du våra aktuella uppdrag, ditt nästa
        steg i karriären.
      </p>
      <button md-raised-button color="primary">
        Läs mer om våra uppdrag
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
  </div>

  <div fxFlex fxFlexAlign="center">
    <p style="text-align:center">
      Copyright © 2013, Talent Management Group | Karlavägen 100, SE-115 26 Stockholm, Sweden
      <br>
      | +46 8 412 83 80 | +46 8 412 83 81 |
    </p>
  </div>

  <button md-button color="primary" fxFlexAlign="end">
    Cockies and PUL
  </button>

</div>
