<md-tab-group>
  <md-tab label="Executive Search">
    <div class="page_wrapper">
      <h2>Executive Search</h2>
      <p class="bold">
        Executive search är ett av våra specialistområden. Vi rekryterar kandidater till
        företagsledningar samt chefer och erfarna specialister inom försäljning,
        marknadsföring, teknik, personal och ekonomi.
      </p>
      <br>
      <p class="bold">Avtal - definition av uppdrag</p>
      <p>
        Vi definierar tillsammans med vår uppdragsgivare uppdragets omfattning.
        Rekryteringsarbetet börjar med att vi skapar oss en bild av företaget och aktuell
        befattning. Kartläggning sker av uppdragsgivarens affärsidé, marknad, företagskultur, kundrelationer
        och konkurrenssituation. I nästa steg beskrivs aktuella arbetsuppgifter och processer tillsammans med de
        kunskaper, färdigheter och den förmåga som
        behövs för arbetet. Företaget besöks, nyckelpersoner intervjuas och en
        befattningsbeskrivning tas fram som uppdragsgivaren godkänner.
      </p>
      <br>
      <p class="bold">Research</p>
      <p>
        När vi söker kandidater ser vi ofta till erfarenhet och vill ha personer som vet hur man löser ett affärsproblem och
        hur man möter kundbehov. Researchen startar med
        kontakter i det levande nätverket och urvalet breddas genom Talent Management Groups databas, marknadsanalyser och via
        andra uppsökande media. En första
        kandidatutvärdering görs i rekryteringsteamet.
      </p>
      <br>
      <p class="bold">Djupintervjuer - utvärdering</p>
      <p>
        Efter djupintervjuer och eventuella tester på de mest kvalificerade kandidaterna
        beslutar rekryteringsteamet vilka som blir slutkandidater att presenteras för
        uppdragsgivaren. Valet baseras på en omfattande utvärdering där betyg kontrolleras och noggrann bedömning görs av
        kandidaternas egenskaper, förmågor, kompetens och tidigare arbetsprestationer. Informationen matchas mot sökprofilen, aktuella
        arbetsuppgifter och andra behov hos uppdragsgivaren.
      </p>
      <br>
      <p class="bold">Presentation av slutkandidater</p>
      <p>
        Här sker en personlig presentation av slutkandidaterna och en dialog kring de uppgifter som lämnas om kandidaterna.
        De kandidater som uppdragsgivaren vill gå
        vidare med bokas in för intervjuer med personer ur uppdragsgivarens organisation.
      </p>
      <br>
      <p class="bold">Uppdragsgivarens intervjuer</p>
      <p>
        Uppdragsgivaren genomför egna intervjuer med utvalda slutkandidater. Intervjuerna resulterar i ett anställningsurval.
      </p>
      <br>
      <p class="bold">Referenstagning och anställning</p>
      <p>
        Det avgörande valet av kandidater som uppdragsgivaren önskar anställa görs alltid av uppdragsgivaren. Innan anställningsavtal
        tecknas med dessa kandidater kvalitetsbestäms kandidatens referenser och dessa kontaktas av Talent Management Group. En sammanfattning
        presenteras muntligen för uppdragsgivaren.
      </p>
      <br>
      <p class="bold">Uppföljning och kvalitetssäkring</p>
      <p>
        Vi vill ha förmånen att följa upp och utvärdera alla uppdrag med uppdragsgivaren och den anställde cirka tre månader efter det att den
        anställde påbörjade sin nya anställning. Avsikten är att kvalitetssäkra genomförandet av rekryteringsuppdraget, det vill säga kontrollera
        om uppdraget utförts på bästa sätt och att den anställde och uppdragsgivaren är nöjda.
      </p>
    </div>
  </md-tab>
  <md-tab label="Executive Selection">

  </md-tab>
  <md-tab label="Management Audit">

  </md-tab>
</md-tab-group>
