<md-tab-group>
  <md-tab label="Executive Search">
    <div class="page_wrapper">
      <h2>Executive Search</h2>
      <p class="bold">
        Executive search är ett av våra specialistområden. Vi rekryterar kandidater till
        företagsledningar samt chefer och erfarna specialister inom försäljning,
        marknadsföring, teknik, personal och ekonomi.
      </p>
      <br>
      <h3 class="bold">Avtal - definition av uppdrag</h3>
      <p>
        Vi definierar tillsammans med vår uppdragsgivare uppdragets omfattning.
        Rekryteringsarbetet börjar med att vi skapar oss en bild av företaget och aktuell
        befattning. Kartläggning sker av uppdragsgivarens affärsidé, marknad, företagskultur, kundrelationer
        och konkurrenssituation. I nästa steg beskrivs aktuella arbetsuppgifter och processer tillsammans med de
        kunskaper, färdigheter och den förmåga som
        behövs för arbetet. Företaget besöks, nyckelpersoner intervjuas och en
        befattningsbeskrivning tas fram som uppdragsgivaren godkänner.
      </p>
      <br>
      <h3 class="bold">Research</h3>
      <p>
        När vi söker kandidater ser vi ofta till erfarenhet och vill ha personer som vet hur man löser ett affärsproblem och
        hur man möter kundbehov. Researchen startar med
        kontakter i det levande nätverket och urvalet breddas genom Talent Management Groups databas, marknadsanalyser och via
        andra uppsökande media. En första
        kandidatutvärdering görs i rekryteringsteamet.
      </p>
      <br>
      <h3 class="bold">Djupintervjuer - utvärdering</h3>
      <p>
        Efter djupintervjuer och eventuella tester på de mest kvalificerade kandidaterna
        beslutar rekryteringsteamet vilka som blir slutkandidater att presenteras för
        uppdragsgivaren. Valet baseras på en omfattande utvärdering där betyg kontrolleras och noggrann bedömning görs av
        kandidaternas egenskaper, förmågor, kompetens och tidigare arbetsprestationer. Informationen matchas mot sökprofilen, aktuella
        arbetsuppgifter och andra behov hos uppdragsgivaren.
      </p>
      <br>
      <h3 class="bold">Presentation av slutkandidater</h3>
      <p>
        Här sker en personlig presentation av slutkandidaterna och en dialog kring de uppgifter som lämnas om kandidaterna.
        De kandidater som uppdragsgivaren vill gå
        vidare med bokas in för intervjuer med personer ur uppdragsgivarens organisation.
      </p>
      <br>
      <h3 class="bold">Uppdragsgivarens intervjuer</h3>
      <p>
        Uppdragsgivaren genomför egna intervjuer med utvalda slutkandidater. Intervjuerna resulterar i ett anställningsurval.
      </p>
      <br>
      <h3 class="bold">Referenstagning och anställning</h3>
      <p>
        Det avgörande valet av kandidater som uppdragsgivaren önskar anställa görs alltid av uppdragsgivaren. Innan anställningsavtal
        tecknas med dessa kandidater kvalitetsbestäms kandidatens referenser och dessa kontaktas av Talent Management Group. En sammanfattning
        presenteras muntligen för uppdragsgivaren.
      </p>
      <br>
      <h3 class="bold">Uppföljning och kvalitetssäkring</h3>
      <p>
        Vi vill ha förmånen att följa upp och utvärdera alla uppdrag med uppdragsgivaren och den anställde cirka tre månader efter det att den
        anställde påbörjade sin nya anställning. Avsikten är att kvalitetssäkra genomförandet av rekryteringsuppdraget, det vill säga kontrollera
        om uppdraget utförts på bästa sätt och att den anställde och uppdragsgivaren är nöjda.
      </p>
    </div>
  </md-tab>
  <md-tab label="Executive Selection">
    <div class="page_wrapper">
      <h2>Executive Selection</h2>

      <h3 class="bold">Executive Selection - Annonsrekrytering</h3>
      <p>
        Annonsrekrytering har fördelen av att nå ut till ett stort antal potentiella kandidater,
        men ställer också krav på kompetens att utforma annonser och administrativa resurser och rutiner
        för hantering av en stor mängd sökande på ett professionellt sätt.
      </p>
      <br>
      <h3 class="bold">Kunddialog - avtal</h3>
      <p>
        I en kunddialog informerar Talent Management Group hur uppdragen styrs när det gäller tidplaner och
        process. Avtal skrivs när båda parter är överens om uppdragets omfattning och mål. Upplägg och tidplan
        anpassas utifrån uppdragets storlek.
        Tidplanen styrs av medieval, sista ansökningsdatum och eventuella repetitioner av
        annonsinförandet.
      </p>
      <br>
      <h3 class="bold">"Uppdragsbeskrivning</h3>
      <p>
        Vi börjar rekryteringsarbetet med att förstå och tolka våra uppdragsgivares affärsidé, marknad, företagskultur,
        kundrelationer och konkurrenssituation. Här grundläggs
        uppdragets framgång och slutliga kvalitetsnivå. Nästa steg är att beskriva aktuella
        arbetsuppgifter och processer tillsammans med de kunskaper, färdigheter och den förmåga som behövs för arbetet.
        Företaget besöks, nyckelpersoner intervjuas och en befattningsbeskrivning tas fram som uppdragsgivaren godkänner.
      </p>
      <br>
      <h3 class="bold">Annonsering, svar och administration</h3>
      <p>
        Vi kan efter önskemål bistå med utformning och införande av kvalitativa annonser, i annat fall ansvarar uppdragsgivaren
        för detta. Under annonsperioden besvarar Talent Management Groups involverade personal på frågor kring de utlysta tjänsterna.
        En aktiv dialog förs med samtliga sökande om rekryteringsprocessen. Vi hanterar all svarshantering inklusive utskick av svars- och tackbrev.
      </p>
      <br>
      <h3 class="bold">Urval - intervju</h3>
      <p>
        Vid annonsuppdrag genomförs urval av de bästa kandidaterna bland samtliga
        ansökningar. Dessa kallas till intervju hos Talent Management Group där
        uppdragsgivarens företag och den aktuella tjänsten presenteras. Kandidaten redogör för sin utbildning, arbetslivserfarenhet,
        sina framtidsplaner, ambitioner, egenskaper, fritidsintressen och sin nuvarande arbetssituation, det vill säga motivationen
        och förutsättningen för den aktuella befattningen.
      </p>
      <br>
      <h3 class="bold">Presentation - urval</h3>
      <p>
        De lämpligaste kandidaterna presenteras muntligt och skriftligt för uppdragsgivaren. Uppdragsgivaren genomför egna intervjuer
        med utvalda slutkandidater. Intervjuerna resulterar i anställningsurval som alltid görs av uppdragsgivaren.
      </p>
      <br>
      <h3 class="bold">Referenstagning och anställning</h3>
      <p>
        Innan anställningsavtal tecknas med kandidater tas referenser, vilka kontaktas av
        Talent Management Group. En sammanfattning av referenserna presenteras muntligen för uppdragsgivaren. Talent Management Group
        sänder över slutkandidaternas betyg och intyg till uppdragsgivaren.
      </p>
      <br>
      <h3 class="bold">Uppföljning och kvalitetssäkring</h3>
      <p>
        Vi vill ha förmånen att följa upp alla uppdrag med uppdragsgivaren och den anställde cirka tre månader efter det att den anställde
        påbörjat sin nya anställning. Avsikten är att kvalitetssäkra genomförandet av rekryteringsuppdraget, det vill säga kontrollera om
        uppdraget utförts på bästa sätt och att den anställde och uppdragsgivaren är nöjda.
      </p>
    </div>
  </md-tab>
  <md-tab label="Management Audit">
    <div class="page_wrapper">
      <h2>Management Audit</h2>
      <br>
      <p class="bold">
        Management Audit är en bedömning, inventering och värdering av enskilda ledare och nyckelpersoner samt ledningsgrupper i samband
        med en förändring i företaget.
      </p>
      <p>
        Resultatet ligger till grund för en identifiering och en utvärdering av framtida
        ledarämnen. Management Audits kan göras för att kartlägga organisationens
        ledarresurser, t.ex. i samband med förvärv och fusioner, vid implementering av en ny strategi eller när interna eller externa
        faktorer ställer nya krav på organisationen.
      </p>
      <p>
        Varje projekt skräddarsys tillsammans med vår uppdragsgivare. Bedömning och
        avrapportering görs på individuell nivå och till gruppen som helhet samt på
        övergripande nivå.
      </p>
    </div>
  </md-tab>
</md-tab-group>
