<md-tab-group>
  <md-tab label="Arbetssätt">
    <div class="page_wrapper">
      <h2>Precision i processen</h2>
      <img src="assets/img/arbetssatt.jpg" alt="">
      <br>
      <br>
      <p class="bold">
        Vårt mål är att marknaden i behov av rekryteringspartners ska uppfatta Talent
        Management Group som det naturliga valet baserat på kvalitet, pålitlighet och
        resultat. Målsättningen är att vara en långsiktig samarbetspartner där vi kan
        maximera möjligheten för både företag och individer på den nordiska marknaden
        att utvecklas.
      </p>
      <br>
      <h3 class="bold">Kvalitet</h3>
      <p>
        Kvalitet innebär att vi verkar tillsammans med de främsta företagen, vilket
        medför att vi också kan knyta till oss många kompetenta sökanden. Vi kommunicerar
        direkt med toppskiktet av kandidater, även de som inte aktivt söker nytt arbete.
        Kort sagt; vi når de främsta tänkbara kandidaterna genom exklusiva kontakter.
        Under kvalitetsparollen
        ligger även att mäta resultat av utbildnings- och utvecklingsinsatser.
      </p>
      <br>
      <h3 class="bold">Pålitlighet</h3>
      <p>
        I stället för hundratals mer eller mindre kvalificerade ansökningar kan du genom
        Talent Management Group få tre till fem kvalificerade kandidater som stämmer mot
        dina behov. Med klart definierade arbetsprocesser och kvalitetssäkrade moment
        borgar vi för precision i hela processen.
      </p>
      <br>
      <h3 class="bold">Resultat</h3>
      <p>
        Talent Management Groups utmärkande drag är effektivitet i att hitta rätt kandidater
        för kritiska affärsfunktioner. Våra konsulters erfarenheter inom näringsliv och
        organisationer är vårt stabila fundament. Det ligger till grund för att bedöma hur en
        kandidat matchar uppdragsgivarens förväntningar samt hur nya medarbetare kan bidra
        till att stärka företagskulturen. Det är orsaken till att flertalet av våra kunder
        gjort stora framsteg på sina marknader; framgång genom strategiska nyrekryteringar.
      </p>
    </div>
  </md-tab>
  <md-tab label="Yrkesetik">
    <div class="page_wrapper">
      <h2>Normer för god yrkesetik</h2>
      <img src="assets/img/etik.jpg" alt="">
      <br>
      <br>
      <p class="bold">
        Talent Management Groups normer för god yrkesetik följer även ESKs normer. Den enskilde konsultens
        etiska medvetenhet, kompetens och ansvarskänsla är avgörande för en professionell hantering av uppdrag
        och relationer till kandidater och
        uppdragsgivare.
      </p>
      <br>
      <p>
        1. Varje människa har rätt till respekt för sin integritet och skydd för densamma.
        I vår yrkesutövning värnar vi till fullo om våra klienters och uppdragsgivares integritet.
      </p>
      <p>
        2. Vi förbinder oss till strikt konfidentiellt hanterande av allt som kommer till vår kännedom i samband med uppdrag.
        Handlingar och dokument förvaras på ett betryggande sätt.
      </p>
      <p>
        3. Vi svarar för att genomföra uppdraget på ett kvalificerat sätt och medverkar till dess att uppdraget är avslutat.
      </p>
      <p>
        4. Vi anger initialt uppdragsgivaren såväl arbetsmetoder som ekonomiska villkor och uppdragsvillkor.
      </p>
      <p>
        5. Uppdrag tas enbart gentemot arbetsgivare/organisation eller dylikt och ingen ersättning tas emot av potentiella kandidater.
      </p>
      <p>
        6. Uppdraget förbereds genom en analys av uppdragsgivarens situation med avseende på organisation, ekonomi affärsidé etc. samt en
        noggrann analys av den aktuella befattningen som sedan mynnar ut i en med en uppdragsgivarens överenskommen sökprofil.
      </p>
      <p>
        7. Vi är skyldiga att till potentiella kandidater ge en saklig, balanserad och så objektiv bild som möjligt av uppdragsgivaren och befattningen.
      </p>
      <p>
        8. Kandidater som presenterats för uppdragsgivaren har alltid personligen intervjuats, informerats och utvärderats med avseende på aktuell befattning.
      </p>
      <p>
        9. Vi strävar efter att hålla alla kandidater informerade om läget i rekryteringsprocessen och följa upp avslutade uppdrag med uppdragsgivare
        och anställd.
      </p>
      <p>
        10. Vi söker inte kandidater hos nuvarande eller tidigare uppdragsgivare där det är uppenbart att en kundrelation föreligger det senaste året.
      </p>

    </div>
  </md-tab>
  <md-tab label="Sammarbetspartners">
    <div class="page_wrapper">
      <h2>Samarbetspartners</h2>
      <img src="assets/img/partners.jpg" alt="">
      <br>
      <br>
      <h3 class="bold">Capita Search & Consulting</h3>
      <p>
        Capita Search & Consulting etablerades 2000 och erbjuder rådgivning inom ledarutveckling/ rekrytering, primärt baserat på executive search.
        Med direktkontakter ute på marknaden finner vi de bäst lämpade kandidaterna till bestämda befattningar och vi erbjuder även rådgivning i dessa
        processer. Vårt team av medarbetare har
        gedigen kompetens och erfarenhet både från konsultverksamhet och genom tidigare ledande positioner inom näringsliv och offentlig förvaltning.
        Våra sjutton konsulter är fördelade i Oslo och i Trondheim. Dessutom är vi anslutna till ett av världens ledande internationella nätverk -
        EMA Partners International.
      </p>
      <br>
      <h3 class="bold">Lysgaard Rekruttering & Rådgivning A/S</h3>
      <p>
        Lysgaard Rekruttering & Rådgivning A/S (LRR) og Ytting Consult A/S (YC) har indledt et strategisk samarbejde.Vi yder professionel
        virksomhedsrådgivning vedrørende
        rekruttering & udvælgelse, ledelses- og karriererådgivning, samt organisations- og strategiudvikling. Vi arbejder med fortrolige og
        tætte kunderelationer - typisk i et
        partnerskab. Med et strategisk samarbejde kan vi optimere vores produktions- og markedsføringskapacitet til glæde for såvel kunder,
        kandidater som os selv. Begge
        selskaber er ejet af hver sin partner. LRR af Anne-Grete Lysgaard og YC af Iris Ytting. Vores kunder vil fortsat arbejde med hhv.
        Lysgaard Rekruttering & Rådgivning A/S eller Ytting Consult A/S med det ansvar og de forpligtigelser dette indebærer.
      </p>
    </div>
  </md-tab>
  <md-tab label="Lediga Tjänster">
    <div class="page_wrapper">
      <h2>Lediga tjänster</h2>
      <img src="assets/img/lediga.jpg" alt="">
      <br>
      <br>
      <h3 class="bold">Recruitment Consultant</h3>
      <p>
        Vi söker dig som har intresse, kapacitet och erfarenhet att arbeta som Recruitment
        Consultant vid rekrytering av chefer och erfarna specilaister.
      </p>
      <br>
      <p>
        Talent Management Group AB, Box 24263, 104 51 Stockholm <br>
        Direkt: +46 8 412 83 84 <br>
         <a href="#" class="mail">info@talentmanagementgroup.se</a>
      </p>
      <br>
      <h3 class="bold">Recruitment Researcher</h3>
      <p>
        Vi söker dig som är intresserad av att arbeta som Senior Researcher vid rekrytering av chefer och erfarna specialister.
      </p>
      <br>
      <p>
        Talent Management Group AB, Box 24263, 104 51 Stockholm <br>
        Direkt: +46 8 412 83 84 <br>
        <a href="#" class="mail">info@talentmanagementgroup.se</a>
      </p>
    </div>
  </md-tab>
</md-tab-group>
