<div fxLayout="column" class="page_wrapper">
  <img fxFlexAlign="center" class="border_img" src="assets/img/border.jpg">
  <h3 class="subheader">10 år - kvalitet i metod och resultat!</h3>

  <!-- Sektion 1  -->
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="30px">

    <div fxFlex="75%" fxLayout="column">
      <img fxFlexAlign="start" class="border_img" src="assets/img/10.png">

      <div>
        <p class="bold">
          “Med ödmjukhet och framtidstro tackar vi för de förtroenden som ni sedan starten 2006 givit oss.
          I en starkt konkurrensutsatt marknad har vi under ett decennium erbjudits möjligheten att hjälpa till
          i avgörande och kritiska rekryteringsprocesser.
        </p>
        <br>
        <p>
          Vi på Talent Management Group AB vill fortsätta växa tillsammans med er. Vårt fortsatta mål är att vi
          uppfattas som det naturliga valet baserat på kvalitet, pålitlighet och resultat. Talent Management Group
          identifierar och rekryterar dagens och morgondagens talanger.”
        </p>
      </div>
    </div>

    <div fxFlex="25%" fxLayout="column">
      <h3 class="subheader" style="font-size:1rem">
        Kontakta Oss
      </h3>
      <p>
        Talent Management Group
        <br>
        Tel: +46 8 412 83 80
        <br>
        Fax: +46 8 412 83 81
        <br>
        <a href="#" class="mail">info@talentmanagementgroup.se</a>
        <br>
        <br>
        <button md-raised-button color="accent">
          LinkedIn
        </button>
      </p>
    </div>

  </div>

</div>
