<md-sidenav-container fullscreen>

    <div fxLayout="column" class="wrapper">

      <div style="background-color:red;text-align:center;padding:5px;font-weight:bold;">
        <i class="material-icons">warning</i>
        Den här sidan är enbart en demo, den riktiga sidan kan hittas
        <a href="http://talentmanagementgroup.se/" style="color:white">här</a>
        <i class="material-icons">warning</i>
      </div>

      <md-card>
        <img src="assets/img/logo.jpg">
        <md-tab-group>
          <md-tab label="Start">
            <app-start>Loading Start..</app-start>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Tjänster">
            <app-tjanster>Loading Tjanster..</app-tjanster>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Uppdrag">
            <app-uppdrag>Loading Uppdrag..</app-uppdrag>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Intresseanmälan">
            <app-intresse>Loading Intresse..</app-intresse>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Konsulter">
            <app-konsulter>Loading Konsulter..</app-konsulter>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Om Oss">
            <app-about>Loading About..</app-about>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Kontakt">
            <app-kontakt>Loading Kontakt..</app-kontakt>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
        </md-tab-group>

      </md-card>

    </div>

</md-sidenav-container>
