<md-sidenav-container fullscreen>

  <div class="wrapper">

    <div fxLayout="column" class="wrapper">

      <md-card>
        <img src="/assets/img/logo.jpg">
        <md-tab-group>
          <md-tab label="Start">
            <app-start>Loading Start..</app-start>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Tjänster">
            <app-tjanster>Loading Tjanster..</app-tjanster>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Uppdrag">
            <app-uppdrag>Loading Uppdrag..</app-uppdrag>
            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Intresseanmälan">

            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Konsulter">

            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Om Oss">

            <app-footer>Loading Footer..</app-footer>
          </md-tab>
          <md-tab label="Kontakt">

            <app-footer>Loading Footer..</app-footer>
          </md-tab>
        </md-tab-group>

      </md-card>

    </div>

  </div>

</md-sidenav-container>
