<md-tab-group>
  <md-tab label="Michael Wallér">
    <div class="page_wrapper">
      <h2 class="title">Michael Wallér</h2>
      <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="70%" style="margin-right:30px">
          <p class="bold">
            Michael har bred kunskap inom rekrytering till ledarroller och nyckelpositioner med rekryteringar både i Sverige och i övriga Norden,
            framförallt med inriktning Teknik, Hälsa och Finans.
          </p>
          <p>
            Han har bred erfarenhet av rekrytering till tyngre ledarroller och nyckelpositioner och har arbetat med rekrytering både i Sverige
            och övriga Norden. Michael Wallér
            rekryterar inom branscher som IT/Telekom, Medicinteknik och konsultativa bolag inom finansiell sektor.
          </p>
          <p>
            Michael har många års erfarenhet av arbete inom svenskt näringsliv, i ledande
            befattningar som Sverigechef, Marknads- och Försäljningsdirektör i företag som Xerox, Wella och Polaroid. Dessutom har Michael Wallér
            en gedigen kunskap inom
            försäljning och marknadsföring på den nordiska marknaden, inklusive Baltikum.
            Utbildningsmässigt har han en handelsutbildning påbyggt med IFL
            företagsledarutbildning.
          </p>
          <br>
          <h3 class="bold">Kontakt</h3>
          <p>
            Direkt: +46 8 412 83 82 <br>
            Mobil: +46 708 800 540 <br>
            <a href="#" class="mail">michael.waller@talentmanagementgroup.se</a>
          </p>
        </div>
        <div fxLayout="column">
          <img fxFlexAlign="start" src="assets/img/michael.jpg" alt="">
          <p>
            <span class="bold">Michael Wallér</span>
            <br>
            CEO/Senior Partner
          </p>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="Mårten Glas">
    <div class="page_wrapper">
      <h2 class="title">Mårten Glas</h2>
      <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="70%" style="margin-right:30px">
          <p class="bold">
            Mårten har under många år arbetat som rekryterare och projektledare med svenska och internationella klienter,
            med huvudsaklig inriktning på rekrytering av chefer och nyckelpersoner inom försäljning, marknadsföring, ekonomi,
            affärsutvecklig, HR eller IT.
          </p>
          <p>
            Primärt har fokus legat inom branscher som Teknik, Hälsa, Finans och Industri. Innan rekryteringsyrket har Mårten
            skaffat sig erfarenheter i roller som specialist och ledare inom IT-branschen, med både svenskt och nordiskt ansvar.
            Tidigare linjeroller har framförallt resulterat i erfarenheter och kunskaper inom affärsutveckling, ekonomi,
            försäljning och marknadsföring.
          </p>
          <br>
          <p class="bold">Kontakt</p>
          <p>
            Direkt: +46 8 412 83 86 <br>
            Mobil: +46 732 044 000 <br>
            <a href="#" class="mail">marten.glas@talentmanagementgroup.se</a>
          </p>
        </div>
        <div fxLayout="column">
          <img fxFlexAlign="start" src="assets/img/marten.jpg" alt="">
          <p>
            <span class="bold">Mårten Glas</span>
            <br>
            Senior Partner
          </p>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="Gunilla von Kauffmann">
    <div class="page_wrapper">
      <h2 class="title">Gunilla von Kauffmann</h2>
      <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="70%" style="margin-right:30px">
          <p class="bold">
            Gunilla arbetar främst med rekrytering av chefer/ledare och specialister till svenska och internationella
            företag inom branschområdet IT/Telecom, Life Science och
            Finance. Hon arbetar även med karriärrådgivning och coachning till företag som vill hjälpa medarbetare att
            utvecklas.
          </p>
          <p>
            Gunilla har flera års erfarenhet av hela rekryteringsprocessen. Hon har tidigare arbetat som konsult och
            projektledare inom organisation- och personalutveckling. Hon har också varit med och utvecklat arbetsprocesser
            inom talent management på en nordisk marknad i ett internationellt företag. Gunilla har också drivit egen verksamhet
            som rådgivare till mindre och medelstora företag. Gunilla har studerat beteendevetenskap på Stockholms- och Lunds Universitet.
          </p>
          <br>
          <p class="bold">Kontakt</p>
          <p>
            Direkt: +46 8 412 83 87 <br>
            Mobil: +46 70 609 53 52 <br>
            <a href="#" class="mail">gunilla.vonkauffmann@talentmanagementgroup.se</a>
          </p>
        </div>
        <div fxLayout="column">
          <img fxFlexAlign="start" src="assets/img/gunilla.jpg" alt="">
          <p>
            <span class="bold">Gunilla von Kauffmann</span>
            <br>
            Search Consultant
          </p>
        </div>
      </div>
    </div>
  </md-tab>
  <md-tab label="Robert Lundgren">
    <div class="page_wrapper">
      <h2 class="title">Robert Lundgren</h2>
      <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="70%" style="margin-right:30px">
          <p class="bold">
            Robert har genom sina tidigare anställningar skaffat sig stor erfarenhet av rekrytering till nyckelpositioner i
            både Sverige och övriga Norden.
          </p>
          <p>
            Robert har många års erfarenhet av arbete i ledande befattningar som VD, Sverigechef, Skandinavien ansvarig,
            Marknads- och Försäljningschef i företag som Oticon AB, Johnson&Johnson och Polaroid. Dessutom har han också
            erfarenhet att starta upp och driva butik inom konsument elektronik.
          </p>
          <p>
            Under de senaste åren har Robert skaffat sig en bred kunskap inom Medtech branchen i Skandinavien. Utbildningsmässigt
            har han en civilekonomutbildning påbyggt med flera ledarskapsutbildningar.
          </p>
          <br>
          <p class="bold">Kontakt</p>
          <p>
            Växel: +46 8 412 83 80 <br>
            Mobil: +46 706 570 031 <br>
            <a href="#" class="mail">robert.lundgren@talentmanagementgroup.se</a>
          </p>
        </div>
        <div fxLayout="column">
          <img fxFlexAlign="start" src="assets/img/robert.jpg" alt="">
          <p>
            <span class="bold">Robert Lundgren</span>
            <br>
            Search Consultant
          </p>
        </div>
      </div>
    </div>
  </md-tab>
</md-tab-group>
