/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import url(https://fonts.googleapis.com/css?family=Montserrat);

::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
}

td {
  padding: 5px;
}

table, th, td {
   border: 1px solid black;
}

a.mail {
  text-decoration: none;
  color: red;
}

a.mail:hover {
  text-decoration: underline;
}

p {
  line-height: 130%;
}

md-list-item {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.copyright {
  font-size: 0.8vw;
}

.table_item {
  padding: 10px;
}

.wrapper {
  max-width: 1200px !important;
  margin: auto;
}

.page_wrapper {
  max-width: 700px !important;
  margin: auto;
  padding: 5px;
}

.subheader {
  color: red;
  font-family: "Quattrocento", "Helvetiva Neue", "Helvetica", "Arial", "Verdana";
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.border_img {
  max-width: 100%;
}

.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
}

app-root: empty + .loading {
  opacity: 1;
  z-index: 100;
}
